
{"swagger":"2.0","info":{"description":"Backend API for communicating with the Titan Console","version":"0.0.1","title":"ColorMySHA API","contact":{"name":"Hugo Trippaers"}},"host":"kubernetes.strocamp.net:8888","basePath":"/","tags":[{"name":"zones-controller","description":"Zones Controller"},{"name":"playback-controller","description":"Playback Controller"},{"name":"flamer-controller","description":"Flamer Controller"}],"paths":{"/flamer/claim":{"post":{"tags":["flamer-controller"],"summary":"claim","operationId":"claimUsingPOST","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"flamerClaimRequest","description":"flamerClaimRequest","required":true,"schema":{"$ref":"#/definitions/FlamerClaimRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FlamerClaimResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Invalid claim_ticket","schema":{"$ref":"#/definitions/ErrorDetail"}},"404":{"description":"Not Found"}},"security":[{"ApiKey":["global"]}]}},"/flamer/fire":{"post":{"tags":["flamer-controller"],"summary":"claim","operationId":"claimUsingPOST_1","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"flamerFireRequest","description":"flamerFireRequest","required":true,"schema":{"$ref":"#/definitions/FlamerFireRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FlamerFireResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Invalid claim_ticket","schema":{"$ref":"#/definitions/ErrorDetail"}},"404":{"description":"Not Found"}},"security":[{"ApiKey":["global"]}]}},"/playback/":{"get":{"tags":["playback-controller"],"summary":"listPlaybacks","operationId":"listPlaybacksUsingGET","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Playback"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/ErrorDetail"}},"404":{"description":"Not Found"}},"security":[{"ApiKey":["global"]}]},"post":{"tags":["playback-controller"],"summary":"newPlayback","operationId":"newPlaybackUsingPOST","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"playback","description":"playback","required":true,"schema":{"$ref":"#/definitions/Playback"}}],"responses":{"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/ErrorDetail"}},"404":{"description":"Not Found"}},"security":[{"ApiKey":["global"]}]}},"/zones/":{"get":{"tags":["zones-controller"],"summary":"listZones","operationId":"listZonesUsingGET","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"showAvailableOnly","in":"query","description":"showAvailableOnly","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Zone"}}},"401":{"description":"Unauthorized"},"403":{"description":"Access is Denied","schema":{"$ref":"#/definitions/ErrorDetail"}},"404":{"description":"Not Found"},"500":{"description":"Internal Error","schema":{"$ref":"#/definitions/ErrorDetail"}}},"security":[{"ApiKey":["global"]}]},"post":{"tags":["zones-controller"],"summary":"newZone","operationId":"newZoneUsingPOST","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"extendedZone","description":"extendedZone","required":true,"schema":{"$ref":"#/definitions/ExtendedZone"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Zone"}},"201":{"description":"Created"},"400":{"description":"Invalid input","schema":{"$ref":"#/definitions/ErrorDetail"}},"401":{"description":"Unauthorized"},"403":{"description":"Access is Denied","schema":{"$ref":"#/definitions/ErrorDetail"}},"404":{"description":"Required resource not found","schema":{"$ref":"#/definitions/ErrorDetail"}},"500":{"description":"Internal Error","schema":{"$ref":"#/definitions/ErrorDetail"}}},"security":[{"ApiKey":["global"]}]}},"/zones/{zoneName}/claim":{"put":{"tags":["zones-controller"],"summary":"claimZone","operationId":"claimZoneUsingPUT","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"zoneName","in":"path","description":"zoneName","required":true,"type":"string"},{"in":"body","name":"claim","description":"claim","required":true,"schema":{"$ref":"#/definitions/Claim"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Zone"}},"201":{"description":"Created"},"400":{"description":"Invalid input","schema":{"$ref":"#/definitions/ErrorDetail"}},"401":{"description":"Unauthorized"},"403":{"description":"Access is Denied","schema":{"$ref":"#/definitions/ErrorDetail"}},"404":{"description":"Required resource not found","schema":{"$ref":"#/definitions/ErrorDetail"}},"409":{"description":"Zone is already claimed","schema":{"$ref":"#/definitions/ErrorDetail"}},"500":{"description":"Internal Error","schema":{"$ref":"#/definitions/ErrorDetail"}}},"security":[{"ApiKey":["global"]}]}}},"securityDefinitions":{"ApiKey":{"type":"apiKey","name":"X-Auth-ApiKey","in":"header"}},"definitions":{"Claim":{"type":"object","properties":{"red":{"type":"number","format":"float"},"green":{"type":"number","format":"float"},"blue":{"type":"number","format":"float"}}},"Coordinate":{"type":"object","properties":{"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"}}},"ErrorDetail":{"type":"object","properties":{"message":{"type":"string"}}},"ExtendedZone":{"type":"object","properties":{"available":{"type":"boolean"},"claimTicket":{"type":"string"},"colour":{"type":"string"},"name":{"type":"string"},"groupName":{"type":"string"},"coordinates":{"type":"array","items":{"$ref":"#/definitions/Coordinate"}}}},"FlamerClaimRequest":{"type":"object","properties":{"claimTicket":{"type":"string"}}},"FlamerClaimResponse":{"type":"object","properties":{"expirationTime":{"type":"string","format":"date-time"}}},"FlamerFireRequest":{"type":"object","properties":{"claimTicket":{"type":"string"},"action":{"type":"integer","format":"int32"}}},"FlamerFireResponse":{"type":"object","properties":{"expirationTime":{"type":"string","format":"date-time"}}},"Playback":{"type":"object","properties":{"active":{"type":"boolean"},"group":{"type":"string"},"index":{"type":"integer","format":"int32"},"page":{"type":"integer","format":"int32"},"titanId":{"type":"integer","format":"int32"}}},"Zone":{"type":"object","properties":{"available":{"type":"boolean"},"claimTicket":{"type":"string"},"colour":{"type":"string"},"coordinates":{"type":"array","items":{"$ref":"#/definitions/Coordinate"}},"name":{"type":"string"}}}}}
